dj-database-url
psycopg2-binary
whitenoise
gunicorn
django_heroku
requests
Django==3.1.4
django-crontab==0.7.1
django-filter==2.4.0
djangorestframework==3.12.2
pytz==2020.4
sqlparse==0.4.1
uWSGI==2.0.19.1